*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: normal;

<<<<<<< HEAD
background-color: #f8f9fa;
=======
>>>>>>> 8d048dc921ea315896c60dd9fcae015cdbdd42fc
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Changed css */

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.p-column-filter-row-items {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

ul.p-dropdown-items {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

.p-dropdown-items-wrapper {
  overflow: hidden;
}

.p-inputtext {
  padding: 0.3rem 0.4rem;
  margin: 0 auto;
  font-size: 0.9em;
}

.form-label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}

td {
  border: solid #e9ecef;
  border-width: 0 1px 1px 1px !important;
}

.p-datatable .p-column-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

th.p-filter-column {
  border-width: 1px 1px 1px 1px !important;
  border: solid #e9ecef;
}

.p-datatable-emptymessage td {
  text-align: center;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0 0;
}

/* Login Form */
.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.binput {
  display: block;
  width: 100%;
  padding: 0.3rem 0.4rem;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.react-datepicker-wrapper {
  width: 100%;
}

.royal-blue {
  background-color: #002366;
}

.table {
  position: relative;
  z-index: 1;
}

.select-dropdown {
  position: relative;
  z-index: 1051;
}

.full-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.showbutton {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.showbutton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.showbutton:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.showbutton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.diagonalbtn {
  color: #198754;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #198754;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.diagonalbtn:hover {
  color: white;
}

.diagonalbtn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #198754;
  z-index: -1;
  transition: all 1s;
}

.diagonalbtn:hover::before {
  width: 160%;
}
ol,
ul {
  padding-left: 0rem;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #495057;
}

.p-button-p {
  color: #ffffff;
  background: #6366f1;
  border: 1px solid #6366f1;
  display: inline-flex;
  padding: 0.5rem 1.25rem;
  font-size: 1rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px !important;
}

.p-dialog .p-dialog-footer {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.p-tabview-ink-bar {
  display: none !important;
  z-index: 1 !important;
}
#businessUnitTable
  .p-datatable-wrapper
  .p-datatable-table
  .p-datatable-thead
  tr
  .p-selection-column
  .p-column-header-content {
  display: none;
}

.p-dropdown-items-wrapper {
  overflow: auto;
}

.multi-select-container {
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: all 100ms ease 0s;
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  outline: 0px !important;
}

.multi-select-value-container {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 2px 8px;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-input > input {
  padding: 0.3rem 0.4rem;
  font-size: 14px;
}

.small-textarea > .form-control {
  padding: 0.3rem 0.4rem;
  font-size: 14px;
}

.table > :not(caption) > * > * {
  padding: 2px 2px;
}

.react-datepicker-popper {
  z-index: 10 !important;
}

.disabled-field {
  background: #dee2e6;
  color: black;
  display: block;
  width: 100%;
  padding: 0.3rem 0.4rem;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.2rem 0.2rem;
}

.p-paginator {
  padding: 0;
}

<<<<<<< HEAD
.menuBtn {
  background-color: transparent;
  color: #495057;
  border: none;
  padding: 0.75rem 1.25rem;
  width: 100%;
  text-align: start;
}
.menuBtn:hover {
  background-color: #E9ECEF;;
}

.actionsBtnLinks {
  padding: 0.3rem 0.7rem;
  font-size: 0.8em;
  width: 30px;
  background-color: #16A34A;  
  
  border-radius: 7px;
}


=======
/* Google Fonts Import Link */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */

.c-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.c-sidebar.c-close {
  width: 78px;
}
.c-sidebar .c-logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.c-sidebar .c-logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.c-sidebar .c-logo-details .c-logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.c-sidebar.c-close .c-logo-details .c-logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.c-sidebar .c-nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.c-sidebar.c-close .c-nav-links {
  overflow: visible;
}
.c-sidebar .c-nav-links::-webkit-scrollbar {
  display: none;
}
.c-sidebar .c-nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.c-sidebar .c-nav-links li:hover {
  background: #1d1b31;
}
.c-sidebar .c-nav-links li .c-iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-sidebar.c-close .c-nav-links li .c-iocn-link {
  display: block;
}
.c-sidebar .c-nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.c-sidebar .c-nav-links li.c-showMenu i.c-arrow {
  transform: rotate(-180deg);
}
.c-sidebar.c-close .c-nav-links i.c-arrow {
  display: none;
}
.c-sidebar .c-nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.c-sidebar .c-nav-links li a .c-link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.c-sidebar.c-close .c-nav-links li a .c-link_name {
  opacity: 0;
  pointer-events: none;
}
.c-sidebar .c-nav-links li .c-sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.c-sidebar .c-nav-links li.c-showMenu .c-sub-menu {
  display: block;
}
.c-sidebar .c-nav-links li .c-sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.c-sidebar .c-nav-links li .c-sub-menu a:hover {
  opacity: 1;
}
.c-sidebar.c-close .c-nav-links li .c-sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.c-sidebar.c-close .c-nav-links li:hover .c-sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.c-sidebar .c-nav-links li .c-sub-menu .c-link_name {
  display: none;
}
.c-sidebar.c-close .c-nav-links li .c-sub-menu .c-link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.c-sidebar .c-nav-links li .c-sub-menu.c-blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.c-sidebar .c-nav-links li:hover .c-sub-menu.c-blank {
  top: 50%;
  transform: translateY(-50%);
}

.c-one {
  width: 95%;
  margin-left: 5%;
}

.c-sidebar .c-profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.c-sidebar.c-close .c-profile-details {
  background: none;
}
.c-sidebar.c-close .c-profile-details {
  width: 78px;
}
.c-sidebar .c-profile-details .c-profile-content {
  display: flex;
  align-items: center;
}
.c-sidebar .c-profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.c-sidebar.c-close .c-profile-details img {
  padding: 10px;
}
.c-sidebar .c-profile-details .c-profile_name,
.c-sidebar .c-profile-details .c-job {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
.c-sidebar.c-close .c-profile-details i,
.c-sidebar.c-close .c-profile-details .c-profile_name,
.c-sidebar.c-close .c-profile-details .c-job {
  display: none;
}
.c-sidebar .c-profile-details .c-job {
  font-size: 12px;
}
.c-home-section {
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.c-sidebar.c-close ~ .c-home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.c-home-section .c-home-content {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.c-home-section .c-home-content .bx-menu,
.c-home-section .c-home-content .c-text {
  color: #11101d;
  font-size: 35px;
}
.c-home-section .c-home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.c-home-section .c-home-content .c-text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .c-sidebar.c-close .c-nav-links li .c-sub-menu {
    display: none;
  }
}
>>>>>>> 8d048dc921ea315896c60dd9fcae015cdbdd42fc
